/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:12px;
}

body{
	background-color:#f8cc4b;
}

table td{
	text-align:center;
	border:1px #000099 dotted;

}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila{
	font-size:1.5em;
	text-decoration:none;
	background-color:#FC3;
}

.centrado{
	text-align:center;
}
